<div class = "container" style="padding-top: 5vh; ">
  <div class="container-fluid">
    <div class="mx-auto text-lg-center" style="padding-top: 10vh; padding-bottom: 20px;">
    <h2>Thank you for your email.</h2>
    <h4 class="mt-3">We will notify you once we launch!</h4>
    </div>
  </div>
</div>


