<div class = "container" style="padding-top: 5vh; ">
  <div class="container-fluid">
    <div class="mx-auto" style="padding-top: 5vh; padding-bottom: 20px;">
    <h2>Pre- Order fail :(</h2>
    </div>
  </div>
</div>